@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  font-family: Roboto;
}

.glass-blue {
  background: rgba(0, 0, 255, 0.1); /* Fundo azul com transparência */
  backdrop-filter: blur(15px); /* Desfoque do fundo mais intenso */
  border-radius: 15px; /* Bordas arredondadas */
  border: 1px solid rgba(0, 0, 255, 0.2); /* Borda azul leve */
}
